@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova Light';
  src: url(font-path('ProximaLight.otf')) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(font-path('ProximaBold.otf')) format('opentype');
}
